@import "../../../../styles.scss";

.manage-course-section {
  padding: 60px 0;

  h2 {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
    column-gap: 24px;

    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid $off-white;

      .top-div {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .mid-div {
        flex-grow: 1;
        padding: 24px 16px 16px 16px;

        h3 {
          text-align: center;
          font-size: 18px;
          margin-bottom: 16px;
        }

        .desc {
          font-size: 15px;
          line-height: 24px;
        }
      }

      .bottom-div {
        padding: 16px;
        background-color: $off-white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          font-size: 15px;
          letter-spacing: 1px;

          .original-price {
            margin-bottom: 4px;
            text-decoration: line-through;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    column-gap: 8px;
    justify-content: right;
    margin-top: 40px;

    .button {
      width: 100px;
    }
  }
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .manage-course-section .section .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 1200px) {
  .manage-course-section .section .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
