@import "../../../../styles.scss";

.payments-section {
  padding: 60px 0;

  h2 {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .table-wrapper {
    overflow-x: auto;
    min-height: 400px;
    border: 1px solid $off-white;

    table {
      border-collapse: collapse;

      tr {
        height: 40px;
        white-space: nowrap;
        border-bottom: 1px solid $dark-gray;
      }

      th {
        height: 40px;
        padding: 0 16px;
        font-size: 15px;
        letter-spacing: 1px;
        background-color: $dark-gray;

        &:not(:last-child) {
          border-right: 1px solid $white;
        }
      }

      td {
        padding: 0 16px;
        font-size: 15px;

        &:not(:last-child) {
          border-right: 1px solid $dark-gray;
        }

        i {
          cursor: pointer;
          padding: 4px 8px;
          border-radius: 4px;

          &:not(:last-child) {
            margin-right: 12px;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .success {
        background-color: $accent-2;
        color: $white;
      }

      .failure {
        background-color: $accent-1;
        color: $white;
      }
    }
  }
}
