<div class="top-banner-section">
  <div class="section">
    <div class="grid-wrapper">
      <div class="left-div">
        <p class="top-line">Learning Made Easy</p>
        <h2>Learn Anything, From Anywhere, Today</h2>
        <p class="desc">
          Unlock your potential with our top-tier courses and hands-on projects
          designed for software engineers and programmers. From mastering the
          latest technologies to solving real world challenges, our expert led
          content provides the tools you need to advance your career. We offer
          cutting edge content created by industry experts to help you master
          the latest technologies, frameworks and best practices.
        </p>
      </div>
      <div class="right-div">
        <img
          src="../../../../assets/image/home_page_banner.svg"
          alt="home_page_banner.svg"
        />
      </div>
    </div>
  </div>
</div>

<div class="featured-course-section">
  <div class="section">
    <h2>Featured Courses</h2>
    <div class="grid-wrapper">
      <div class="card shadow" *ngFor="let course of featuredCourses">
        <div class="top-div">
          <img [src]="course.image" alt="" />
        </div>
        <div class="mid-div">
          <h3>{{ course.courseName }}</h3>
          <p class="desc">
            {{ course.description }}
          </p>
        </div>
        <div class="bottom-div">
          <div class="price">
            <p class="original-price" *ngIf="course.discount != 0">
              {{ course.courseFee }} BDT
            </p>
            <p>
              <strong>Price:</strong>
              {{
                course.courseFee - (course.courseFee * course.discount) / 100
              }}
              BDT
            </p>
          </div>
          <a
            class="button"
            [routerLink]="['/general/course-preview', course.courseId]"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="category-section">
  <div class="section">
    <h2>Browse By Category</h2>
    <div class="category-wrapper">
      <div
        class="item"
        *ngFor="let category of categories"
        (click)="getCoursesByCategory(category)"
      >
        <p>{{ category }}</p>
      </div>
    </div>
  </div>
</div>
