<!-- Top Banner Section Starts -->
<div class="top-banner-section">
  <div class="section">
    <div class="grid-wrapper">
      <div class="left-div">
        <p class="top-line">Hello {{ getFullname() }}</p>
        <h2>Welcome to Learning Dashboard</h2>
        <p class="desc">
          This is the learning dashboard of E-Learning Platform. From here you
          can view and access all of your purchased coursed. If you face any
          problem accessing the courses, feel free to reach our admin support
          via support center.
        </p>
      </div>
      <div class="right-div">
        <img
          src="../../../../assets/image/admin_dashboard.svg"
          alt="admin_dashboard.svg"
        />
      </div>
    </div>
  </div>
</div>
<!-- Top Banner Section Ends -->

<!-- Enrolled Course Section Starts -->
<div class="enrolled-course-section">
  <div class="section">
    <h2>Enrolled Courses</h2>

    <div class="grid-wrapper" *ngIf="enrolledCourses.length; else noCourse">
      <div class="card" *ngFor="let course of enrolledCourses">
        <div class="top-div">
          <img [src]="course.image" alt="Course Image" />
        </div>

        <div class="mid-div">
          <h3>{{ course.courseName }}</h3>
          <p class="desc">
            {{ course.description }}
          </p>
        </div>

        <div class="bottom-div">
          <p *ngIf="course.enrollmentStatus === 'IN-REVIEW'">
            Payment: Verifying
          </p>
          <p *ngIf="course.enrollmentStatus === 'DECLINED'">
            Payment: Declined
          </p>

          <button
            class="button"
            [routerLink]="['/general/course-dashboard', course.courseId]"
            [ngClass]="{ hidden: course.enrollmentStatus !== 'APPROVED' }"
          >
            Visit Course
          </button>
        </div>
      </div>
    </div>

    <ng-template #noCourse>
      <div class="not-found">
        <img src="../../../../assets/image/404_not_found.svg" alt="Not Found" />
        <p>Oops! You are not enrolled to any course yet</p>
      </div>
    </ng-template>
  </div>
</div>
<!-- Enrolled Course Section Ends -->
