@import "../../../../styles.scss";

.notification {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 9999;
  padding: 8px 12px;
  min-height: 50px;
  width: 300px;
  letter-spacing: 1px;
  color: $white;
}

.success {
  background-color: $accent-2;
}

.error {
  background-color: $accent-1;
}
