@import "../../../../styles.scss";

.top-banner-section {
  padding: 40px 16px;
  background-color: $primary;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "left-div" "right-div";
    column-gap: 20px;
    padding: 12px;
    background-color: $white;
    border-radius: 4px;

    .left-div {
      grid-area: left-div;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        max-width: 450px;
        height: 100%;
      }
    }

    .right-div {
      grid-area: right-div;
      display: flex;
      flex-direction: column;
      padding: 10px 20px;

      h2 {
        margin: 20px 0;
        font-size: 28px;
        letter-spacing: 1px;
      }

      .desc {
        flex-grow: 1;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }

      .add-content {
        background: $gray;
      }
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "left-div right-div";
    }
  }
}

.contents-section {
  .section {
    padding: 60px 16px;

    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 24px;
      column-gap: 24px;

      .card {
        width: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }

        .top-div {
          flex-grow: 1;

          img {
            height: auto;
            width: 100%;
            display: block;
          }
        }

        .bottom-div {
          padding: 8px 12px;

          p {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
          }
        }
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }
  }
}
