@import "../../../../styles.scss";

/* Navbar Styles */
nav {
  height: 50px;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $primary;
  color: $white;

  .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;

    i {
      font-size: 22px;
      cursor: pointer;
    }

    p {
      font-size: 18px;
    }
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

/* Backdrop Styles */
.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: $white;
  opacity: 0.05;
}

/* Sidebar Styles */
.sidebar {
  width: 275px;
  min-height: calc(100vh - 50px);
  position: fixed;
  z-index: 2;
  top: 50px;
  background: $primary;
  color: $white;

  .wrapper {
    .user-info {
      margin-bottom: 12px;
      padding: 24px 12px;
      text-align: center;
      border-bottom: 1px solid $accent-1;

      img {
        width: 100%;
        max-width: 100px;
        margin-bottom: 16px;
        background-color: $white;
        border-radius: 50px;
      }

      p {
        color: $accent-1;
        font-size: 18px;
        letter-spacing: 1px;
      }
    }

    .menu {
      a {
        padding: 12px;
        display: block;

        &:hover {
          background-color: $secondary;
          color: $accent-1;
          cursor: pointer;
        }
      }

      .button-outline {
        height: 30px;
        width: 80%;
        margin: 20px auto;
        display: block;
      }
    }
  }
}
