<!-- Navbar Starts -->
<nav>
  <div class="branding">
    <i
      class="fas"
      [ngClass]="{ 'fa-bars': !showSidebar, 'fa-times': showSidebar }"
      (click)="toggleSidebar()"
    >
    </i>
    <p (click)="toggleSidebar()">ELP</p>
  </div>
  <div *ngIf="!isLoggedIn" class="user-info">
    <button class="button-outline" [routerLink]="['/general/registration']">
      Sign Up
    </button>
    <button class="button" (click)="login()">Login</button>
  </div>
  <div *ngIf="isLoggedIn" class="user-info">
    <p>{{ getUserName() }}</p>
    <button class="button-outline" (click)="logout()">Logout</button>
  </div>
</nav>
<!-- Navbar Ends -->

<!-- Backdrop Starts -->
<div
  class="backdrop"
  [ngClass]="{ hidden: !showSidebar }"
  (click)="toggleSidebar()"
></div>
<!-- Backdrop Ends -->

<!-- Sidebar Starts -->
<div class="sidebar" [ngClass]="{ hidden: !showSidebar }">
  <div class="wrapper">
    <div *ngIf="!isLoggedIn" class="user-info">
      <img src="../../../assets/image/male-avatar.svg" alt="" />
      <p>No User</p>
      <p>(Please Login)</p>
    </div>
    <div *ngIf="isLoggedIn" class="user-info">
      <img *ngIf="userImage; else defaultImage" [src]="userImage" alt="" />
      <ng-template #defaultImage>
        <img src="../../../../assets/image/male-avatar.svg" alt="" />
      </ng-template>
      <p>{{ getUserName() }}</p>
    </div>
    <div *ngIf="!isLoggedIn" class="menu" (click)="toggleSidebar()">
      <button class="button-outline" [routerLink]="['/general/registration']">
        Sign Up
      </button>
      <button class="button" (click)="login()">Login</button>
    </div>
    <div *ngIf="isLoggedIn" class="menu" (click)="toggleSidebar()">
      <a *ngFor="let menuItem of getActiveMenu()" [routerLink]="menuItem.route">
        {{ menuItem.label }}
      </a>
      <button class="button-outline" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
<!-- Sidebar Ends -->
