@import "../../../../styles.scss";

/* Navbar Styles */
nav {
  position: fixed;
  z-index: 2;
  height: 50px;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $secondary;
  color: $white;

  .branding {
    display: flex;
    column-gap: 12px;

    i {
      font-size: 22px;
    }

    p {
      font-size: 18px;
    }

    i,
    p {
      cursor: pointer;
    }
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;

    p {
      font-size: 15px;
      margin-bottom: -2px;
    }

    .button-sign-up {
      background-color: $white;
      color: $black;
    }
  }
}

/* Backdrop Styles */
.backdrop {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: $black;
  opacity: 0.5;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  z-index: 2;
  top: 50px;
  width: 275px;
  min-height: calc(100vh - 50px);
  background-color: $primary;

  .logo {
    padding: 24px;
    background-color: $gray;

    img {
      display: block;
      width: 175px;
      height: auto;
      margin: 0 auto;
    }
  }

  .menu {
    a {
      display: flex;
      column-gap: 8px;
      align-items: center;
      padding: 8px 12px 8px 24px;
      margin-bottom: 2px;
      background-color: $white;
      color: $black;
      font-size: 14px;

      i {
        font-size: 18px;
        margin-bottom: 2px;
        color: $accent-1;
      }

      &:hover {
        color: $accent-1;
      }
    }
  }

  .button {
    display: block;
    margin: 20px auto 0 auto;
    width: 80%;
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {
  nav .user-info {
    display: none;
  }
}
