<div class="manage-course-section">
  <div class="section">
    <h2>Course Management Panel</h2>
    <div class="grid-wrapper">
      <div class="card shadow">
        <div class="top-div">
          <img
            src="../../../../assets/image/baeldung-home-java-series.jpg"
            alt=""
          />
        </div>
        <div class="mid-div">
          <h3>Dummy Course Name</h3>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum at
            voluptate officiis expedita dolore corrupti provident, pariatur
            optio corporis dolor!
          </p>
        </div>
        <div class="bottom-div">
          <div class="price">
            <p class="original-price">10000 BDT</p>
            <p>
              <strong>Price:</strong>
              5000 BDT
            </p>
          </div>
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Edit Course
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img
            src="../../../../assets/image/baeldung-home-java-series.jpg"
            alt=""
          />
        </div>
        <div class="mid-div">
          <h3>Dummy Course Name</h3>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum at
            voluptate officiis expedita dolore corrupti provident, pariatur
            optio corporis dolor!
          </p>
        </div>
        <div class="bottom-div">
          <div class="price">
            <p class="original-price">10000 BDT</p>
            <p>
              <strong>Price:</strong>
              5000 BDT
            </p>
          </div>
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Edit Course
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img
            src="../../../../assets/image/baeldung-home-java-series.jpg"
            alt=""
          />
        </div>
        <div class="mid-div">
          <h3>Dummy Course Name</h3>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum at
            voluptate officiis expedita dolore corrupti provident, pariatur
            optio corporis dolor!
          </p>
        </div>
        <div class="bottom-div">
          <div class="price">
            <p class="original-price">10000 BDT</p>
            <p>
              <strong>Price:</strong>
              5000 BDT
            </p>
          </div>
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Edit Course
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img
            src="../../../../assets/image/baeldung-home-java-series.jpg"
            alt=""
          />
        </div>
        <div class="mid-div">
          <h3>Dummy Course Name</h3>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum at
            voluptate officiis expedita dolore corrupti provident, pariatur
            optio corporis dolor!
          </p>
        </div>
        <div class="bottom-div">
          <div class="price">
            <p class="original-price">10000 BDT</p>
            <p>
              <strong>Price:</strong>
              5000 BDT
            </p>
          </div>
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Edit Course
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img
            src="../../../../assets/image/baeldung-home-java-series.jpg"
            alt=""
          />
        </div>
        <div class="mid-div">
          <h3>Dummy Course Name</h3>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum at
            voluptate officiis expedita dolore corrupti provident, pariatur
            optio corporis dolor!
          </p>
        </div>
        <div class="bottom-div">
          <div class="price">
            <p class="original-price">10000 BDT</p>
            <p>
              <strong>Price:</strong>
              5000 BDT
            </p>
          </div>
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Edit Course
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img
            src="../../../../assets/image/baeldung-home-java-series.jpg"
            alt=""
          />
        </div>
        <div class="mid-div">
          <h3>Dummy Course Name</h3>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum at
            voluptate officiis expedita dolore corrupti provident, pariatur
            optio corporis dolor!
          </p>
        </div>
        <div class="bottom-div">
          <div class="price">
            <p class="original-price">10000 BDT</p>
            <p>
              <strong>Price:</strong>
              5000 BDT
            </p>
          </div>
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Edit Course
          </a>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button class="button">Back</button>
      <button class="button">Next</button>
    </div>
  </div>
</div>
