@import "../../../../styles.scss";

.top-banner-section {
  padding: 60px 0;
  background-color: $primary;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "right-div" "left-div";
    row-gap: 24px;
    column-gap: 48px;

    .left-div {
      grid-area: left-div;

      .top-line {
        margin-bottom: 8px;
        color: $accent-1;
        font-size: 18px;
      }

      h2 {
        font-size: 32px;
      }

      .desc {
        line-height: 24px;
        margin: 24px 0;
      }
    }

    .right-div {
      grid-area: right-div;

      img {
        display: block;
        width: 100%;
        max-width: 275px;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}

.action-panel-section {
  .section {
    padding: 60px 16px;

    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 24px;
      column-gap: 24px;

      .card {
        display: flex;
        flex-direction: column;

        .top-div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
          padding: 20px;

          img {
            display: flex;
            height: auto;
            width: 100%;
            max-width: 225px;
          }
        }

        .bottom-div {
          background-color: $gray;
          padding: 16px 20px;

          p {
            margin-bottom: 16px;
            text-align: center;
            letter-spacing: 1px;
          }

          .button-wrapper {
            display: flex;
            justify-content: center;
            column-gap: 12px;

            .button {
              border-radius: 4px;
            }
          }
        }
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }
  }
}

/* Media Queries */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .top-banner-section .section .grid-wrapper {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "left-div right-div";
  }
}

@media screen and (min-width: 1200px) {
}
