@import "../../../../styles.scss";

.top-banner-section {
  padding: 60px 0;
  background-color: $primary;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "right-div" "left-div";
    row-gap: 24px;
    column-gap: 48px;

    .left-div {
      grid-area: left-div;

      .top-line {
        margin-bottom: 8px;
        color: $accent-1;
        font-size: 18px;
      }

      h2 {
        font-size: 32px;
      }

      .desc {
        line-height: 24px;
        margin: 24px 0;
      }
    }

    .right-div {
      grid-area: right-div;

      img {
        display: block;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}

.action-panel-section {
  padding: 40px 0;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
    column-gap: 24px;

    .card {
      width: 100%;
      max-width: 250px;
      height: auto;
      margin: 0 auto;
      text-align: center;
      border: 1px solid $off-white;

      i {
        padding: 40px;
        font-size: 60px;
      }

      p {
        padding: 12px;
        font-size: 15px;
        letter-spacing: 1px;
        color: $black;
        background-color: $off-white;
      }

      &:hover {
        p {
          color: $accent-1;
        }
      }
    }
  }
}

/* Media Queries */
@media screen and (min-width: 576px) {
  .action-panel-section .section .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 768px) {
  .action-panel-section .section .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 992px) {
  .top-banner-section .section .grid-wrapper {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "left-div right-div";
  }

  .action-panel-section .section .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 1200px) {
  .action-panel-section .section .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
