<div class="top-banner-section">
  <div class="section">
    <div class="grid-wrapper">
      <div class="left-div">
        <p class="top-line">Hello Rezaur Rahman</p>
        <h2>Welcome to Admin Dashboard</h2>
        <p class="desc">
          This is the admin dashboard of E-Learning Platform. From here you can
          add, update and manage the system users and their information. You can
          also add, update and view all the running courses and manage their
          activities. Please be aware of any changes that you make as it affects
          the entire system.
        </p>
      </div>
      <div class="right-div">
        <img
          src="../../../../assets/image/admin_dashboard.svg"
          alt="admin_dashboard.svg"
        />
      </div>
    </div>
  </div>
</div>

<div class="action-panel-section">
  <div class="section">
    <div class="grid-wrapper">
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../../assets/image/courses.svg" alt="" />
        </div>
        <div class="bottom-div">
          <p><strong>Total Course:</strong> 54</p>
          <div class="button-wrapper">
            <a class="button" [routerLink]="['/admin/manage-course']"
              >Manage Courses</a
            >
            <a class="button" [routerLink]="['/admin/course-details']"
              >Add New Course</a
            >
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../../assets/image/user-1.svg" alt="" />
        </div>
        <div class="bottom-div">
          <p><strong>Total Users:</strong> 54</p>
          <div class="button-wrapper">
            <a class="button" href="#">Manage Users</a>
            <a class="button" href="#">Add New Admin</a>
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../../assets/image/payments.svg" alt="" />
        </div>
        <div class="bottom-div">
          <p><strong>Payment Requests:</strong> 54</p>
          <div class="button-wrapper">
            <a class="button" href="#">Check Payments</a>
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../../assets/image/statistics-1.svg" alt="" />
        </div>
        <div class="bottom-div">
          <p><strong>Statistics Reports</strong></p>
          <div class="button-wrapper">
            <a class="button" href="#">Check Statistics</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
