<!-- Top Banner Section Starts -->
<div class="top-banner-section">
  <div class="section">
    <div class="grid-wrapper">
      <div class="left-div">
        <p class="top-line">Hello {{ getFullname() }}</p>
        <h2>Welcome to Admin Dashboard</h2>
        <p class="desc">
          This is the admin dashboard of E-Learning Platform. From here you can
          add, update and manage the system users and their information. You can
          also add, update and view all the running courses and manage their
          activities. Please be aware of any changes that you make as it affects
          the entire system.
        </p>
      </div>
      <div class="right-div">
        <img
          src="../../../../assets/image/admin_dashboard.svg"
          alt="admin_dashboard.svg"
        />
      </div>
    </div>
  </div>
</div>
<!-- Top Banner Section Ends -->

<!-- Action Panel Section Starts -->
<div class="action-panel-section">
  <div class="section">
    <div class="grid-wrapper">
      <a
        class="card"
        *ngFor="let actionItem of getAdminActionItems()"
        [routerLink]="actionItem.route"
      >
        <i [ngClass]="actionItem.logo"></i>
        <p>{{ actionItem.label }}</p>
      </a>
    </div>
  </div>
</div>
<!-- Action Panel Section Ends -->
