<!-- Course Details Section Starts -->
<div class="course-details-section">
  <div class="section">
    <div class="grid-wrapper">
      <div class="left-div">
        <img
          *ngIf="courseImage; else defaultImage"
          [src]="courseImage"
          alt="Course Image"
        />

        <ng-template #defaultImage>
          <img
            src="../../../../assets/image/no-image.png"
            alt="Default Course Image"
          />
        </ng-template>

        <input
          #fileInput
          type="file"
          accept="image/*"
          (change)="updateCourseImage($event)"
        />
      </div>

      <div class="right-div">
        <h2>Course Details</h2>

        <form
          [formGroup]="courseDataForm"
          (ngSubmit)="courseId ? updateCourse() : addNewCourse()"
        >
          <div class="form-field">
            <label for="courseName">Course Name</label>
            <input type="text" id="courseName" formControlName="courseName" />
            <div
              *ngIf="
                courseDataForm.get('courseName')?.invalid &&
                (courseDataForm.get('courseName')?.touched ||
                  courseDataForm.get('courseName')?.dirty)
              "
            >
              <div
                class="error"
                *ngIf="courseDataForm.get('courseName')?.hasError('required')"
              >
                Course name is required!
              </div>
            </div>
          </div>

          <div class="form-field">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              maxlength="500"
            ></textarea>
            <div
              *ngIf="
                courseDataForm.get('description')?.invalid &&
                (courseDataForm.get('description')?.touched ||
                  courseDataForm.get('description')?.dirty)
              "
            >
              <div
                class="error"
                *ngIf="courseDataForm.get('description')?.hasError('required')"
              >
                Course description is required!
              </div>
              <div
                class="error"
                *ngIf="courseDataForm.get('description')?.hasError('maxlength')"
              >
                Course description shouldn't exceed 500 char length!
              </div>
            </div>
          </div>

          <div class="form-field-wrapper">
            <div class="form-field">
              <label for="courseFee">Course Fee</label>
              <input type="number" id="courseFee" formControlName="courseFee" />
              <div
                *ngIf="
                  courseDataForm.get('courseFee')?.invalid &&
                  (courseDataForm.get('courseFee')?.touched ||
                    courseDataForm.get('courseFee')?.dirty)
                "
              >
                <div
                  class="error"
                  *ngIf="courseDataForm.get('courseFee')?.hasError('required')"
                >
                  Course fee is required!
                </div>
                <div
                  class="error"
                  *ngIf="courseDataForm.get('courseFee')?.hasError('min')"
                >
                  Course fee should be at least 100 BDT!
                </div>
                <div
                  class="error"
                  *ngIf="courseDataForm.get('courseFee')?.hasError('max')"
                >
                  Course fee should be at max 100,000 BDT!
                </div>
              </div>
            </div>

            <div class="form-field">
              <label for="discount">Discount Percentage</label>
              <input
                type="number"
                value="0"
                id="discount"
                formControlName="discount"
              />
              <div
                *ngIf="
                  courseDataForm.get('discount')?.invalid &&
                  (courseDataForm.get('discount')?.touched ||
                    courseDataForm.get('discount')?.dirty)
                "
              >
                <div
                  class="error"
                  *ngIf="courseDataForm.get('discount')?.hasError('required')"
                >
                  Discount is required!
                </div>
                <div
                  class="error"
                  *ngIf="courseDataForm.get('discount')?.hasError('min')"
                >
                  Discount can't be less than 0%!
                </div>
                <div
                  class="error"
                  *ngIf="courseDataForm.get('discount')?.hasError('max')"
                >
                  Discount can't be more than 90%!
                </div>
              </div>
            </div>

            <div class="form-field">
              <label for="isEnrollmentEnabled">Enrollment Status</label>
              <div class="dropdown">
                <select
                  id="isEnrollmentEnabled"
                  formControlName="isEnrollmentEnabled"
                >
                  <option value="">Not Selected</option>
                  <option value="true">Open For Enrollment</option>
                  <option value="false">Close For Enrollment</option>
                </select>
                <div
                  *ngIf="
                    courseDataForm.get('isEnrollmentEnabled')?.invalid &&
                    courseDataForm.get('isEnrollmentEnabled')?.touched
                  "
                >
                  <div
                    class="error"
                    *ngIf="
                      courseDataForm
                        .get('isEnrollmentEnabled')
                        ?.hasError('required')
                    "
                  >
                    Enrollment Status is required!
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="button-wrapper" type="submit">
            <button class="button-outline">
              {{ courseId ? "Update Course" : "Create Course" }}
            </button>
            <button
              class="button"
              type="button"
              *ngIf="courseId"
              [routerLink]="['/general/course-dashboard', courseId]"
            >
              Go To Dashboard
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Course Details Section Ends -->
