@import "../../../../styles.scss";

.top-banner-section {
  height: 400px;
  background-color: $primary;
}

.featured-course-section {
  .section {
    padding: 60px 16px;

    h2 {
      margin-bottom: 28px;
      font-size: 32px;
    }

    .grid-wrapper {
      width: fit-content;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 24px;
      column-gap: 24px;

      .card {
        width: 100%;

        .top-div {
          img {
            height: auto;
            width: 100%;
            display: block;
          }

          h3 {
            padding: 16px 16px 0 16px;
            text-align: center;
            font-size: 20px;
          }
        }

        .mid-div {
          padding: 16px 16px 0 16px;

          .desc {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
          }
        }

        .bottom-div {
          padding: 20px 16px 24px 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }
  }
}

.category-section {
  background-color: $off-white;

  .section {
    padding: 60px 16px;

    h2 {
      margin-bottom: 28px;
      font-size: 32px;
    }

    .grid-wrapper {
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 24px;
      column-gap: 24px;

      .card {
        padding: 48px 16px 24px 16px;
        text-align: center;
        background-color: $white;

        &:hover {
          background-color: $secondary;
          color: $white;
          cursor: pointer;
          transition-delay: 0.05s;
          -webkit-transition-delay: 0.05s;
        }

        i {
          margin-bottom: 16px;
          color: $accent-1;
        }

        p {
          font-size: 16px;
          letter-spacing: 0.5px;
        }
      }

      @media screen and (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 1200) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }
  }
}
