<div class="top-banner-section">
  <div class="section">
    <div class="grid-wrapper">
      <div class="left-div">
        <p class="top-line">Learning Made Easy</p>
        <h2>Learn Anything, From Anywhere, Today</h2>
        <p class="desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
          debitis asperiores eius sequi aspernatur impedit non voluptatem neque,
          earum quos? Hic consectetur laboriosam quo aspernatur, officiis
          distinctio consequuntur excepturi alias delectus, rerum quae molestias
          eligendi, dolor dolores numquam? Eaque id itaque assumenda mollitia
          velit esse doloribus quae facilis veritatis aliquid.
        </p>
      </div>
      <div class="right-div">
        <img
          src="../../../../assets/image/home_page_banner.svg"
          alt="home_page_banner.svg"
        />
      </div>
    </div>
  </div>
</div>

<div class="featured-course-section">
  <div class="section">
    <h2>Featured Courses</h2>
    <div class="grid-wrapper">
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../assets/image/java.avif" alt="" />
          <h3>JWT-refresh-token-spring-boot</h3>
        </div>
        <div class="mid-div">
          <p class="desc">
            This is a ready to use template code for implementing JWT based
            authentication with refresh token using Spring Boot. Can be used
            with any spring-based project.
          </p>
        </div>
        <div class="bottom-div">
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Learn More
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../assets/image/java.avif" alt="" />
          <h3>JWT-refresh-token-spring-boot</h3>
        </div>
        <div class="mid-div">
          <p class="desc">
            This is a ready to use template code for implementing JWT based
            authentication with refresh token using Spring Boot. Can be used
            with any spring-based project.
          </p>
        </div>
        <div class="bottom-div">
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Learn More
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../assets/image/java.avif" alt="" />
          <h3>JWT-refresh-token-spring-boot</h3>
        </div>
        <div class="mid-div">
          <p class="desc">
            This is a ready to use template code for implementing JWT based
            authentication with refresh token using Spring Boot. Can be used
            with any spring-based project.
          </p>
        </div>
        <div class="bottom-div">
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Learn More
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../assets/image/java.avif" alt="" />
          <h3>JWT-refresh-token-spring-boot</h3>
        </div>
        <div class="mid-div">
          <p class="desc">
            This is a ready to use template code for implementing JWT based
            authentication with refresh token using Spring Boot. Can be used
            with any spring-based project.
          </p>
        </div>
        <div class="bottom-div">
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Learn More
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../assets/image/java.avif" alt="" />
          <h3>JWT-refresh-token-spring-boot</h3>
        </div>
        <div class="mid-div">
          <p class="desc">
            This is a ready to use template code for implementing JWT based
            authentication with refresh token using Spring Boot. Can be used
            with any spring-based project.
          </p>
        </div>
        <div class="bottom-div">
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Learn More
          </a>
        </div>
      </div>
      <div class="card shadow">
        <div class="top-div">
          <img src="../../../assets/image/java.avif" alt="" />
          <h3>JWT-refresh-token-spring-boot</h3>
        </div>
        <div class="mid-div">
          <p class="desc">
            This is a ready to use template code for implementing JWT based
            authentication with refresh token using Spring Boot. Can be used
            with any spring-based project.
          </p>
        </div>
        <div class="bottom-div">
          <a
            class="button"
            href="https://github.com/DevRezaur/spring-security-JWT-module"
            target="_blank"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="category-section">
  <div class="section">
    <h2>Browse By Category</h2>
    <div class="grid-wrapper">
      <div class="card shadow">
        <i class="fab fa-java fa-2x"></i>
        <p>Java</p>
      </div>
      <div class="card shadow">
        <i class="fas fa-leaf fa-2x"></i>
        <p>Spring & Spring Boot</p>
      </div>
      <div class="card shadow">
        <i class="fab fa-angular fa-2x"></i>
        <p>Angular</p>
      </div>
      <div class="card shadow">
        <i class="fab fa-react fa-2x"></i>
        <p>React JS</p>
      </div>
      <div class="card shadow">
        <i class="fab fa-html5 fa-2x"></i>
        <p>HTML & CSS</p>
      </div>
      <div class="card shadow">
        <i class="fab fa-bootstrap fa-2x"></i>
        <p>Bootstrap</p>
      </div>
    </div>
  </div>
</div>
