@import "../../../../styles.scss";

.top-banner-section {
  height: 400px;
  background-color: lightgray;
}

.featured-course-section {
  .section {
    padding: 40px 16px;
    background-color: $white;

    h2 {
      margin-bottom: 24px;
    }

    .grid-wrapper {
      width: fit-content;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 24px;
      column-gap: 24px;

      .card {
        width: 100%;
        background-color: lightgray;

        .top-div {
          img {
            height: auto;
            width: 100%;
            display: block;
          }

          h3 {
            padding: 16px 16px 0 16px;
            text-align: center;
            border-bottom: 1px solid lightgray;
          }
        }

        .mid-div {
          padding: 16px 16px 0 16px;
        }

        .bottom-div {
          padding: 24px 16px 16px 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-top: 1px solid lightgray;
        }
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }
  }
}

.category-section {
  .section {
    padding: 40px 16px;
    background-color: $white;

    h2 {
      margin-bottom: 24px;
    }

    .grid-wrapper {
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 24px;
      column-gap: 24px;

      .card {
        padding: 48px 16px 24px 16px;
        background-color: lightgray;
        text-align: center;
        border: none;

        i {
          margin-bottom: 16px;
          color: $accent-1;
        }
      }

      @media screen and (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 1200) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }
  }
}
