<div class="top-banner">
  <p>&nbsp;</p>
</div>

<div class="section">
  <h2>Featured Courses</h2>
  <div class="grid-wrapper">
    <div class="card">
      <div class="top-div">
        <img src="../../../assets/image/male-avatar.svg" alt="" />
        <h3>JWT-refresh-token-spring-boot</h3>
      </div>
      <div class="mid-div">
        <p class="desc">
          This is a ready to use template code for implementing JWT based
          authentication with refresh token using Spring Boot. Can be used with
          any spring-based project.
        </p>
      </div>
      <div class="bottom-div">
        <a
          class="link-btn"
          href="https://github.com/DevRezaur/spring-security-JWT-module"
          target="_blank"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</div>
