@import "../../../../styles.scss";

.course-purchase-section {
  height: 100%;
  padding: 40px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $off-white;

  .card {
    flex-grow: 1;
    max-width: 800px;
    padding: 40px 20px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 4px;

    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 28px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 12px;
    }

    .course-details {
      margin-bottom: 28px;
    }

    .payment-selector {
      margin-bottom: 12px;
    }

    .payment-instructions {
      padding: 12px;
      margin-bottom: 28px;
      border: 1px solid $gray;
      border-radius: 4px;

      p {
        padding: 4px 8px;
        font-size: 15px;
        line-height: 24px;
        background-color: $off-white;
      }

      strong {
        color: $accent-1;
      }
    }

    .payment-details {
      .button {
        display: block;
        margin: 28px 0 0 auto;
      }
    }
  }
}
