@import "../../../../styles.scss";

.top-banner-section {
  padding: 40px 16px;
  background-color: $primary;
  color: $white;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "right-div" "left-div";
    row-gap: 48px;
    column-gap: 24px;

    .left-div {
      grid-area: left-div;

      .top-line {
        margin-bottom: 8px;
        color: $accent-1;
        font-size: 20px;
        letter-spacing: 4px;
      }

      h2 {
        margin-bottom: 24px;
        font-size: 36px;
      }

      .desc {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .right-div {
      grid-area: right-div;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 90%;
        max-width: 350px;
        height: auto;
      }
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      grid-template-areas: "left-div right-div";
    }
  }
}

.action-panel-section {
  .section {
    padding: 60px 16px;

    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 24px;
      column-gap: 24px;

      .card {
        display: flex;
        flex-direction: column;

        .top-div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
          padding: 20px;

          img {
            display: flex;
            height: auto;
            width: 100%;
            max-width: 225px;
          }
        }

        .bottom-div {
          background-color: $gray;
          padding: 16px 20px;

          p {
            margin-bottom: 16px;
            text-align: center;
            letter-spacing: 1px;
          }

          .button-wrapper {
            display: flex;
            justify-content: center;
            column-gap: 12px;

            .button {
              padding: 8px 16px;
              border-radius: 8px;
            }
          }
        }
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }

      @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }
  }
}
