@import "../../../../styles.scss";

.top-banner-section {
  padding: 40px 16px;
  background-color: $primary;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "right-div" "left-div";
    column-gap: 20px;
    padding: 12px;
    background-color: $white;
    border-radius: 4px;

    .right-div {
      grid-area: left-div;
      display: flex;
      flex-direction: column;
      padding: 10px 20px;

      h2 {
        margin: 20px 0;
        font-size: 28px;
        letter-spacing: 1px;
      }

      .desc {
        flex-grow: 1;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }

      .info-section {
        background-color: $gray;
        padding: 12px;
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
        align-items: flex-end;

        .statistics {
          letter-spacing: 1px;
        }

        .price {
          letter-spacing: 1px;

          .original-price {
            margin-bottom: 4px;
            text-decoration: line-through;
            opacity: 0.5;
          }
        }
      }

      .button {
        display: block;
        margin: 20px 0 0 auto;
      }
    }

    .left-div {
      grid-area: right-div;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        max-width: 450px;
        height: 100%;
      }
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "right-div left-div";
    }
  }
}

.course-content-section {
  .section {
    padding: 60px 16px;

    h2 {
      font-size: 32px;
      margin-bottom: 12px;
    }

    hr {
      margin-bottom: 24px;
    }

    p {
      background-color: $off-white;
      height: 48px;
      padding: 16px;
      margin-bottom: 12px;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}
