<div class="top-banner-section">
  <div class="section">
    <div class="grid-wrapper">
      <div class="left-div">
        <img
          src="../../../../assets/image/baeldung-home-java-series.jpg"
          alt=""
        />
      </div>
      <div class="right-div">
        <h2>Introduction to Programming</h2>
        <p class="desc">
          Learn the basics of programming with our easy and intuitive
          programming course. Highly recommended for CS students.
        </p>
        <div class="info-section">
          <div class="statistics">
            <p><strong>Total Enrolled:</strong> 532</p>
          </div>
          <div class="price">
            <p class="original-price">1000 BDT</p>
            <p><strong>Price:</strong> 5000 BDT</p>
          </div>
        </div>
        <button class="button">Purchase Course</button>
      </div>
    </div>
  </div>
</div>

<div class="course-content-section">
  <div class="section">
    <h2>Course Contents</h2>
    <hr />
    <p><strong>Lecture No 1:</strong> Dummy Section Title</p>
    <p><strong>Lecture No 2:</strong> Dummy Section Title</p>
    <p><strong>Lecture No 3:</strong> Dummy Section Title</p>
    <p><strong>Lecture No 4:</strong> Dummy Section Title</p>
    <p><strong>Lecture No 5:</strong> Dummy Section Title</p>
    <p><strong>Lecture No 6:</strong> Dummy Section Title</p>
  </div>
</div>
