/*
 * These are the global SCSS style variables. Used by the entire application
 */

$white: #ffffff;
$off_white: #f6f6f6;
$light_gray: #a9b3c1;
$dark_gray: #445d6e;
$black: #252525;
$light_black: #404040;
//$accent-1: #303030;
$primary: #1f2833;
$secondary: #314152;
//$primary: #536dfe;
//$secondary: #6c63ff;
$accent-1: #fc5c7d;
$accent-2: #505050;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Styles */
.hidden {
  display: none;
}

.button-outline {
  background: none;
  color: $white;
  padding: 6px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.button-outline:hover {
  color: $accent-1;
  border: 1px solid $accent-1;
}
