/* Global SCSS Style Variables */
$white: #ffffff;
$off-white: #f5f5f5;
$black: #252525;
$primary: #1f2833;
$secondary: #314152;
$accent-1: #fc5c7d;
$accent-2: #505050;

/* Global Style Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Custom CSS Classes */
.hidden {
  display: none;
}

.section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 576px) {
    max-width: 550px;
  }

  @media screen and (min-width: 768px) {
    max-width: 750px;
  }

  @media screen and (min-width: 992px) {
    max-width: 950px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1150px;
  }
}

.button {
  padding: 6px 16px;
  background-color: $primary;
  color: $white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: $accent-1;
    color: $black;
    cursor: pointer;
  }
}

.button-outline {
  padding: 4px 16px;
  background: none;
  color: $white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid $white;
  border-radius: 15px;

  &:hover {
    color: $accent-1;
    border: 1px solid $accent-1;
    cursor: pointer;
  }
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
