/*
 * These are the global SCSS style variables. Used by the entire application
 */

$white: #ffffff;
$off_white: #f6f6f6;
$light_gray: #a9b3c1;
$dark_gray: #445d6e;
$black: #252525;
$light_black: #404040;
//$accent-1: #303030;
$primary: #1f2833;
$secondary: #314152;
//$primary: #536dfe;
//$secondary: #6c63ff;
$accent-1: #fc5c7d;
$accent-2: #505050;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Styles */
.hidden {
  display: none;
}

.section {
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 600px) {
    max-width: 550px;
  }

  @media screen and (min-width: 900px) {
    max-width: 850px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1150px;
  }
}

.button-outline {
  background: none;
  color: $white;
  padding: 6px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.button-outline:hover {
  color: $accent-1;
  border: 1px solid $accent-1;
}

.link-btn {
  display: inline-block;
  min-width: 150px;
  padding: 4px 32px;
  text-align: center;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border: 1px solid var(--clr-accent);
  border-radius: 24px;
}

.link-btn:hover {
  background: none;
  color: var(--clr-accent);
}

.link-btn-outline {
  display: inline-block;
  min-width: 150px;
  padding: 4px 32px;
  text-align: center;
  background: none;
  color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: 24px;
}
