/* Global SCSS Style Variables */
$white: #ffffff;
$off-white: #f5f5f5;
$gray: #ececec;
$dark-gray: #cecece;
$black: #303030;
$primary: #f5f5f5;
$secondary: #1f2833;
$accent-1: #fc5c7d;
$accent-2: #62b076;
