<div class="registration-page-section">
  <div class="grid-wrapper">
    <div class="left-div">
      <div class="welcome-text">
        <p>Welcome to</p>
        <h2>E-Learning Platform</h2>
      </div>
      <img src="../../../../assets/image/learning-female.svg" alt="" />
    </div>
    <div class="right-div">
      <h3>User Registration Form</h3>
      <form>
        <div class="field">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" />
        </div>
        <div class="field">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" id="email" />
        </div>
        <div class="field">
          <label for="gender">Gender</label>
          <div class="dropdown">
            <select id="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label for="newPassword">Password</label>
          <input type="password" id="newPassword" />
        </div>
        <div class="field">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" />
        </div>
        <button class="button">Register</button>
      </form>
    </div>
  </div>
</div>
